node_modules
dist
.tmp
.sass-cache
.bower-cache
.bower-registry
.bower-tmp
app/bower_components
app/styles/*.css
app/styles/brands/*.css
app/styles/brokers/*.css
app/styles/components/*.css
app/styles/bootstrap/*.css
app/images/generated
app/styles/common
table/data
.idea